@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
body{
    min-width: 480px;
    min-height: 800px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
    background-color: #ededed;
}
body a{
	text-decoration: none;
	color: #FFBF00;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 3vw;
    background-color: #1b1b1c;
    margin: 0;
	font-size: 2.5vw;
}
.logo img{
    margin-top: 1vw;
	margin-left: 1vw;
	width: 15vw;
}
.flex_header{
	color: #FFBF00;
	width: 35vw;
	display: flex;
	justify-content: end;
	align-items: center;
}
*{box-sizing: border-box;}
.form-popup{
	display: none;
	position: absolute;
	border: 0.1vw solid #f1f1f1;
	margin-top: 70vw;
	margin-right: 15vw;
}
.form-container .btn:hover{
	opacity: 1;
}
.form-container .btn {
	font-size: 2vw;
	background-color: #FFBF00;
	color: white;
	padding: 2vw 0vw;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 2vw;
	opacity: 0.8;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus{
	background-color: #ddd;
	outline: none;
}
.form-container input[type=text], .form-container input[type=password]{
	width: 100%;
	padding: 2vw 2vw;
	margin: 2vw 0;
	border: none;
	background: #f1f1f1;
}
.form-container{
	max-width: 65vw;
	padding: 3vw;
	padding-bottom: 1vw;
	background-color: white;
}
.change-text{
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease; 
}
.change-text:hover{
	color: #5265f6;
}
.block1{
	padding: 8vw;
	background-color: white;
	display: flex;
	align-items: center;
}
.o_nas{
	width: 35%;
	font-size: 3vw;
	border-left: 0.125vw solid black;
	padding-left: 1vw;
}
.o_nas_text{
	width: 65%;
	font-size: 2vw;
}
.block2{
	background-color: #ededed;
	padding: 3vw;
	padding-bottom: 32vw;
}
.text{
	margin-top: 4vw;
	text-align: center;
	font-weight: 600;
	font-size: 4vw;
}
.zakaz1{
	font-size: 2.5vw;
	margin-top: 3vw;
	display: flex;
	justify-content: space-around;
}
.item{
	background-color: white;
	display: flex;
	width: 42vw;
	height: 12.5vw;
	align-items: center;
	justify-content: center;
}
.itemtel{
	position: absolute;
	margin-top: 15.5vw;
	left: 0;
	margin-left: 5.5vw;
}
.itemtel2{
	position: absolute;
	margin-top: 15.5vw;
	right: 0;
	margin-right: 5.5vw;
}
.itemtel1{
	margin-right: 5.5vw;
	right: 0;
	position: absolute;
}
.itemcolor{
	background-color: #1b1b1c; 
	color: #FFBF00;
}
.block3{
	background-color: #1b1b1c;
	padding: 2vw;
	color: #FFBF00;
	display: flex;
	padding-bottom: 4vw;
	padding-top: 4vw;
}
.strong_block3{
    text-align: center;
	font-weight: 600;
	font-size: 1.75vw;
}
.stolb{
	justify-content: space-around;
	width: 50vw;
	font-size: 1.5vw;
	text-align: center;
}
.stolb_text{
	color: #ededed;
	margin: 0 2vw 0 2vw
}
.block4{
	padding: 7vw;
	background-color: white;
}
.block4 img{
	width: 25vw;
	border-radius: 100%;
    border: 0.3vw solid #FFBF00;
}
.free{
	margin-top: 5vw;
	justify-content: space-around;
	display: flex;
}
.free div{
	width: 26vw;
	text-align: center;
}
.nikname{
	margin-top: 1vw;
	font-weight: bold;
	font-size: 2vw;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.nikname div{
	width: 26.4vw;
}
.phototel{
	position: absolute;
	margin-top: 33vw;
	left: 0;
	margin-left: 15.5vw;
}
.phototel1{
	position: absolute;
	margin-top: -32.75vw;
	right: 0;
	margin-right: 15.5vw;
}
.margintel{
	margin-top: 37vw;
}
.block5{
	padding: 7vw;
	padding-bottom: 4vw;
	background-color: #ededed;
}
.quotes{
	text-align: center;
	margin-top: 2vw;
}
.quotes img{
	width: 3.5vw;
}
.photo{
	margin-top: 5vw;
}
.photo img{
	width: 25vw;
	border-radius: 100%;
    border: 0.3vw solid #FFBF00;
	margin-bottom: 5vw;
}
.photo div{
	text-align: center;
	width: 30vw;
}
.name{
	font-size: 2vw;
	font-weight: bold;
}
.name div{
	text-align: center;
	width: 30vw;
}
.nametel1{
	position: absolute;
	margin-top: -86.75vw;
	margin-left: 25vw;
}
.worktel1{
	position: absolute;
	margin-top: -84.5vw;
	margin-left: 31.75vw;
}
.reviewtel1{
	position: absolute;
	margin-top: -79.25vw;
	margin-left: 31.75vw;
}
.nametel2{
	position: absolute;
	margin-top: -55vw;
	margin-left: 23.5vw;
}
.worktel2{
	position: absolute;
	margin-top: -52.5vw;
	margin-left: 31.95vw;
}
.reviewtel2{
	position: absolute;
	margin-top: -49.25vw;
	margin-left: 31.95vw;
}
.nametel3{
	position: absolute;
	margin-top: -24.5vw;
	margin-left: 25vw;
}
.worktel3{
	position: absolute;
	margin-top: -22.25vw;
	margin-left: 31.95vw;
}
.reviewtel3{
	position: absolute;
	margin-top: -19.25vw;
	margin-left: 31.95vw;
}
.review div{
	width: 50vw;
}
.work{
	margin-top: 1.5vw;
	font-size: 1.7vw;
}
.work div{
	width: 40vw;
}
.review{
	font-size: 1.8vw;
}
footer{
	font-size: 2vw;
	margin: 0;
	padding: 3vw;
	background-color: #1b1b1c;
	color: #FFBF00;
}
.flex_footer div{
	width: 35vw;
}
.flex_footer{
	display: flex;
	align-items: center;
}
.project{
	display: flex;
	margin-left: 7.5vw;
	margin-top: 0.5vw;
}
.fancy{
	margin-left: 1.5vw;
	margin-top: 0.5vw;
}
.connect{
	margin-top: 0.75vw;
	text-align: end;
	margin-right: 1.5vw;
}
.connect img{
	width: 2.5vw;
}