@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
body{
	left: 0;
	right: 0;
	min-width: 1080px;
    margin: 0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	background-color: white;
}
body a{
	text-decoration: none;
	color: #FFBF00;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 2vw;
    background-color: #1b1b1c;
    margin: 0;
	font-size: 1.1vw;
}
.logo img{
	margin-left: 1vw;
	width: 6vw;
}
.flex_header{
	color: #FFBF00;
	width: 35vw;
	display: flex;
	justify-content: end;
	align-items: center;
}
*{box-sizing: border-box;}
.form-popup{
	display: none;
	position: fixed;
	border: 0.1vw solid #f1f1f1;
	margin-top: 23vw;
}
.form-container .btn:hover{
	opacity: 1;
}
.form-container .btn {
	background-color: #FFBF00;
	color: white;
	padding: 0.75vw 5vw;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 0.5vw;
	opacity: 0.8;
}
.change-text{
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease; 
}
.change-text:hover{
	color: #5265f6;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus{
	background-color: #ddd;
	outline: none;
}
.form-container input[type=text], .form-container input[type=password]{
	width: 100%;
	padding: 0.75vw;
	margin: 1vw 0 1vw 0;
	border: none;
	background: #f1f1f1;
}
.form-container{
	max-width: 20vw;
	padding: 1vw;
	background-color: white;
}
.block1{
	padding: 12.5vw;
	display: flex;
	align-items: center;
}
.o_nas{
	width: 55vw;
	font-size: 1.6vw;
	border-left: 0.125vw solid black;
	padding-left: 1vw;
}
.o_nas_text{
	width: 45vw;
	font-size: 1.25vw;
}
.block2{
	background-color: #ededed;
	padding: 11vw;

}
.text{
	text-align: center;
	font-weight: 600;
	font-size: 2.5vw;
}
.zakaz1{
	font-size: 1.2vw;
	margin-top: 3vw;
	display: flex;
	justify-content: space-around;
}
.item{
	background-color: white;
	display: flex;
	width: 25vw;
	height: 7.5vw;
	align-items: center;
	justify-content: center;
}
.block3{
	background-color: #1b1b1c;
	padding: 4vw;
	color: #FFBF00;
	display: flex;
}
.strong_block3{
    text-align: center;
	font-weight: 600;
	font-size: 1vw;
}
.stolb{
	justify-content: space-around;
	width: 100%;
	font-size: 0.9vw;
	text-align: center;
}
.stolb_text{
	color: #ededed;
	margin: 0 2vw 0 2vw
}
.block4{
	padding: 11vw;
}
.block4 img{
	width: 16vw;
	border-radius: 100%;
    border: 0.3vw solid #FFBF00;
}
.free{
	margin-top: 3.5vw;
	justify-content: center;
	display: flex;
}
.free div{
	width: 26vw;
	text-align: center;
}
.nikname{
	margin-top: 1vw;
	font-weight: bold;
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	text-align: center;
}
.nikname div{
	width: 26.4vw;
}
.block5{
	padding: 11vw;
	background-color: #ededed;
}
.quotes{
	text-align: center;
	margin-top: 2vw;
}
.quotes img{
	width: 2.5vw;
}
.photo{
	margin-top: 3vw;
	display: flex;
}
.photo img{
	width: 16vw;
	border-radius: 100%;
    border: 0.3vw solid #FFBF00;
}
.photo div{
	text-align: center;
	width: 30vw;
}
.name{
	margin-top: 1.5vw;
	display: flex;
	font-size: 1.2vw;
	font-weight: bold;
}
.name div{
	text-align: center;
	width: 30vw;
}
.work{
	margin-top: 1.5vw;
	display: flex;
	font-size: 1vw;
}
.work div{
	margin: 0 5vw 0 5vw;
	text-align: center;
	width: 30vw;
}
.review{
	margin-top: 1.5vw;
	display: flex;
	font-size: 1.1vw;
}
.review div{
	margin: 0 1vw 0 1vw;
	text-align: center;
	width: 30vw;
}
footer{
	font-size: 0.75vw;
	margin: 0;
	padding: 1.25vw;
	background-color: #1b1b1c;
	color: #FFBF00;
}
.flex_footer div{
	width: 35vw;
}
.flex_footer{
	display: flex;
	align-items: center;
}
.project{
	display: flex;
	margin-left: 14vw;
	margin-top: 0.5vw;
}
.fancy{
	margin-left: 1.5vw;
	margin-top: 0.5vw;
}
.connect{
	margin-top: 0.75vw;
	text-align: end;
	margin-right: 1.5vw;
}
.connect img{
	width: 1.25vw;
}
