@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
body{
    min-width: 480px;
    min-height: 800px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
    background-color: #ededed;
}
body a{
	text-decoration: none;
	color: #FFBF00;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 3vw;
    background-color: #1b1b1c;
    margin: 0;
	font-size: 2.5vw;
}
.logo img{
    margin-top: 1vw;
	margin-left: 1vw;
	width: 15vw;
}
.flex_header{
	color: #FFBF00;
	width: 35vw;
	display: flex;
	justify-content: end;
	align-items: center;
}
*{box-sizing: border-box;}
.form-popup{
	display: none;
	position: fixed;
	border: 0.1vw solid #f1f1f1;
	margin-top: 70vw;
	margin-right: 15vw;
}
.form-container .btn:hover{
	opacity: 1;
}
.form-container .btn {
	font-size: 2vw;
	background-color: #FFBF00;
	color: white;
	padding: 2vw 0vw;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 2vw;
	opacity: 0.8;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus{
	background-color: #ddd;
	outline: none;
}
.form-container input[type=text], .form-container input[type=password]{
	width: 100%;
	padding: 2vw 2vw;
	margin: 2vw 0;
	border: none;
	background: #f1f1f1;
}
.form-container{
	max-width: 65vw;
	padding: 3vw;
	padding-bottom: 1vw;
	background-color: white;
}
.change-text{
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease; 
}
.change-text:hover{
	color: #5265f6;
}
.block1{
	padding: 4vw;
	font-size: 4.5vw;
	font-weight: 600;
	margin-left: 3vw;
}
.block2{
	margin: 0 2vw 7vw 2vw;
	padding: 4vw 6vw 6vw 6vw;
	font-size: 1.5vw;
	background-color: white;
}
.rulea{
	margin: 1vw 0 1vw 0;
	color: #1b1b1c;
	font-size: 2.25vw;
	font-weight: 600;
}
.rule{
	margin-left: 1.25vw;
}
.margin{
	margin: 0 2vw;
	font-size: 1vw;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 2vw;
	margin: 0;
	padding: 3vw;
	background-color: #1b1b1c;
	color: #FFBF00;
}
.flex_footer div{
	width: 35vw;
}
.flex_footer{
	display: flex;
	align-items: center;
}
.project{
	display: flex;
	margin-left: 7.5vw;
	margin-top: 0.5vw;
}
.fancy{
	margin-left: 1.5vw;
	margin-top: 0.5vw;
}
.connect{
	margin-top: 0.75vw;
	text-align: end;
	margin-right: 1.5vw;
}
.connect img{
	width: 2.5vw;
}
