@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
body{
    min-width: 480px;
    min-height: 800px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
    background-color: #ededed;
}
body a{
	text-decoration: none;
	color: #FFBF00;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 3vw;
    background-color: #1b1b1c;
    margin: 0;
	font-size: 2.5vw;
}
.logo img{
    margin-top: 1vw;
	margin-left: 1vw;
	width: 15vw;
}
.flex_header{
	color: #FFBF00;
	width: 35vw;
	display: flex;
	justify-content: end;
	align-items: center;
}
*{box-sizing: border-box;}
.form-popup{
	display: none;
	position: fixed;
}
.change-text{
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease; 
}
.change-text:hover{
	color: #5265f6;
}
.block1{
	padding: 8vw;
	background-color: #ededed;
}
.flex1{
	display: flex;
	align-items: center;
}
.o_nas{
	width: 35%;
	font-size: 2.5vw;
	border-left: 0.125vw solid black;
	padding-left: 1vw;
}
.o_nas_text{
	width: 65%;
	font-size: 2vw;
}
.block2{
	margin-right: 3vw;
	margin-left: 3vw;
	padding: 2.5vw 5vw;
}
.yellow{
	margin-top: 2.5vw;
	font-size: 2.25vw;
	color: #FFBF00;
	text-align: left;
}
.text{
    margin-top: 2.2vw;
	font-size: 1.65vw;
	text-align: end;
	margin-left: 10vw;
}
.block3{
	margin-right: 12.5vw;
	margin-left: 12.5vw;
	text-align: center;
	padding-bottom: 8vw;
}
.size{
    font-size: 1.5;
}
.class{
	margin-top: 2vw;
	font-size: 1.75vw;
	font-weight: 600;
}
.flex{
	margin-top: 3vw;
	margin-bottom: 6vw;
}
.flex ol{
    width: 75vw;
	font-size: 1.35vw;
	margin-top: 1.2vw;
	text-align: left;
	margin-left: 4vw;
}
li{
	margin-top: 1vw;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 2vw;
	margin: 0;
	padding: 3vw;
	background-color: #1b1b1c;
	color: #FFBF00;
}
.flex_footer div{
	width: 35vw;
}
.flex_footer{
	display: flex;
	align-items: center;
}
.project{
	display: flex;
	margin-left: 7.5vw;
	margin-top: 0.5vw;
}
.fancy{
	margin-left: 1.5vw;
	margin-top: 0.5vw;
}
.connect{
	margin-top: 0.75vw;
	text-align: end;
	margin-right: 1.5vw;
}
.connect img{
	width: 2.5vw;
}